* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
}

.menubar {
  height: 45px;
  background-color: #232536;
}
.menu-child {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 a {
  color: #ffffff;
}
.menu ul {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.menu-items li {
  list-style-type: none;
}
.menu-items li a {
  display: inline;
  padding: 0 3px 6px 3px;
  color: #ffffff;
}
.menu-items li a:hover {
  border-bottom: 2px solid snow;
}
.navbar {
  height: 400px;
  background-color: #f4f0f8;
  display: flex;
  justify-content: center;
}
.navbar .nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-nav {
  /* margin-left: 0 !important;
  padding-left: 0 !important; */
  width: 60%;
}
.content-nav h4 {
  color: #232536;
  font-weight: 500;
  margin-bottom: 13px;
  letter-spacing: 2px;
  font-weight: 540;
}
.content-nav h2 {
  color: #232536;
  font-weight: 700;
}
.content-nav h5 {
  margin: 10px 0;
  color: #4c4c4c;
  font-weight: 500;
}
.content-nav p {
  color: #6d6e76;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.content-nav .btn {
  display: inline-block;
  background-color: #ffd050;
  padding: 13px 20px;
  margin-top: 1.2rem;
  font-weight: 700;
  color: #232536;
  transition: background-color 0.2s;
}
.content-nav .btn:hover {
  background-color: #ffd050bd;
}
.nav .img img {
  width: 350px;
  height: 259px;
  object-fit: cover;
}

.container {
  width: 80%;
  margin: auto;
  /* background-color: #e5e5e5; */
}
/* MAIN SECTION */
.all-news {
  border-bottom: 1px solid #6d6e76;
  padding: 2rem 0;
  margin-bottom: 3rem;
  color: #232536;
  font-size: 2em;
}
.article {
  height: 228px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.img img {
  width: 300px;
  height: 228px;
  object-fit: cover;
}

.content {
  padding-left: 2rem;
}
.content h5 {
  color: #592ea9;
  letter-spacing: 2px;
}
.content h5 a:hover,
.content-nav h4 a:hover {
  border-bottom: 2px solid #592ea9;
}

.content h2 {
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}
.content h2 a {
  color: #232536;
}
.content h2 a:hover {
  color: #592ea9;
}
.content p {
  color: #6d6e76;
  font-weight: 400;
  line-height: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.prev-next {
  width: 100%;
  display: flex;
  justify-content: center;
}
.prev-next div {
  display: flex;
  width: 16%;
  justify-content: space-between;
  align-items: center;
}
.prev-next div h3:nth-of-type(1) a {
  color: #6d6e76;
}
.prev-next div h3:nth-of-type(2) a {
  color: #232536;
}
/* ALL CATEGORIES */
.categories {
  display: flex;
  justify-content: space-between;
}
.categories-item a {
  border: 1px solid rgba(109, 110, 118, 0.3);
  max-width: 235px;
  height: 228px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  box-shadow: 0px 0px 5px -1px #232536;
  transition: all 0.2s;
}
.categories-item a:hover {
  background-color: #ffd050;
  transform: scale(1.03);
}
.categories-item a .c-img {
  background-color: #fbf6ea;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.startup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-item a h3 {
  font-weight: 700;
  color: #232536;
  font-size: 28px;
}
.categories-item a p {
  font-weight: 400;
  font-size: 16px;
  color: #6d6e76;
}
/* FOOTER SECTION */
footer {
  margin-top: 10rem;
  height: 250px;
  background-color: #232536;
  display: flex;
  justify-content: center;
}
.footer-container {
  margin: 2rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.socialmedia .text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sm-img {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.sm-img a {
  display: inline-block;
  transition: all 0.2s;
}
.sm-img a:hover {
  transform: scale(1.5);
}
.sm-img a img {
  width: 45px;
  padding: 5px 5px 0 5px;
}
.sm-img a:nth-of-type(2) img {
  width: 55px;
  position: relative;
  top: -4px;
}
.coopyright {
  color: #ffffff;
}

.coopyright a {
  color: antiquewhite;
  border-bottom: 1px solid antiquewhite;
  padding-bottom: 2px;
}
