{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News demo website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <div class="menubar">
          <div class="menu-child">
            <div class="logo">
              <h2><a href="">LOGO</a></h2>
            </div>
            <div class="menu">
              <ul class="menu-items">
                <li><a href="{% url 'iqtisod' %}">IQTISODIYOT</a></li>

                <li><a href="{% url 'jamiyat' %}">JAMIYAT</a></li>

                <li><a href="{% url 'siyosat' %}">SIYOSAT</a></li>

                <li><a href="{% url 'sport' %}">SPORT</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navbar">
          <div class="nav">
            <div class="content-nav">
              <h4><a href="">IQTISODIYOT</a></h4>
              <h2>
                O‘zbekiston Turkiyaga 170 tonna insonparvarlik yordami jo‘natdi
              </h2>
              <h5>16.02.2023</h5>
              <p>
                Turkiyadagi zilzilalardan jabrlanganlarga hukumat, tadbirkorlar
                va O‘zbekiston aholisi tomonidan 170 tonna insonparvarlik
                yordami yig‘ilib, ular 6 ta yuk samolyoti va 7 ta yuk
                mashinasida mamlakatning turli hududlariga yetkazildi.
              </p>
              <a class="btn" href="">Ko'proq o'qish</a>
            </div>
            <div class="img"><img src="{% static 'img/2.jpg' %}" alt="" /></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <main>
        <h1 class="all-news">Barcha yangiliklar</h1>
        {% block content %} {% for post in Posts %}
        <div class="article">
          <div class="img"><img src="{{ post.photo}}" alt="" /></div>
          <div class="content">
            <h5><a href="">{{post.type_post}}</a></h5>
            <h2>
              <a href="">{{post.text}}</a>
            </h2>
            <p>{{post.type_post}}</p>
          </div>
        </div>
        {% endfor %}{% endblock %}
        <!-- <div class="article">
          <div class="img"><img src="img/1.jpg" alt="" /></div>
          <div class="content">
            <h5><a href="">SIYOSAT</a></h5>
            <h2>
              <a href=""
                >Poytaxt otchoparida otlarning o‘limiga sababchi bo‘lganlar
                jarimaga tortildi</a
              >
            </h2>
            <p>
              Toshkent otchoparida ikki bosh otning ochlikdan o‘lishiga sababchi
              bo‘lgan shaxslar hayvonlarga shafqatsiz munosabatda bo‘lganliklari
              uchun ma’muriy javobgarlikka tortildi.
            </p>
          </div>
        </div>
        <div class="article">
          <div class="img"><img src="img/1.jpg" alt="" /></div>
          <div class="content">
            <h5><a href="">IQTISODIYOT</a></h5>
            <h2>
              <a href=""
                >O‘zbekiston Turkiyaga 170 tonna insonparvarlik yordami
                jo‘natdi</a
              >
            </h2>
            <p>
              Turkiyadagi zilzilalardan jabrlanganlarga hukumat, tadbirkorlar va
              O‘zbekiston aholisi tomonidan 170 tonna insonparvarlik yordami
              yig‘ilib, ular 6 ta yuk samolyoti va 7 ta yuk mashinasida
              mamlakatning turli hududlariga yetkazildi.
            </p>
          </div>
        </div>
        <div class="article">
          <div class="img"><img src="img/1.jpg" alt="" /></div>
          <div class="content">
            <h5><a href="">SIYOSAT</a></h5>
            <h2>
              <a href=""
                >Poytaxt otchoparida otlarning o‘limiga sababchi bo‘lganlar
                jarimaga tortildi</a
              >
            </h2>
            <p>
              Toshkent otchoparida ikki bosh otning ochlikdan o‘lishiga sababchi
              bo‘lgan shaxslar hayvonlarga shafqatsiz munosabatda bo‘lganliklari
              uchun ma’muriy javobgarlikka tortildi.
            </p>
          </div>
        </div> -->
        <div class="prev-next">
          <div>
            <h3><a href=""><</a></h3>
            <h3><a href="">1</a></h3>
            <h3><a href="">2</a></h3>
            <h3><a href="">></a></h3>
          </div>
        </div>
      </main>
      <section>
        <h1 class="all-news">Barcha kategoriyalar</h1>
        <div class="categories">
          <div class="categories-item">
            <a href="">
              <div class="c-img">
                <img src="{% static 'img/iconbusiness.png' %}" alt="" />
              </div>
              <h3>Business</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </a>
          </div>
          <div class="categories-item">
            <a href="">
              <div class="c-img startup">
                <img src="{% static 'img/iconstartup.png' %}" alt="" />
              </div>
              <h3>Startup</h3>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </a>
          </div>
          <div class="categories-item">
            <a href="">
              <div class="c-img">
                <img src="{% static 'img/iconeconomy.png' %}" alt="" />
              </div>
              <h3>Economy</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </a>
          </div>
          <div class="categories-item">
            <a href="">
              <div class="c-img">
                <img src="{% static 'img/icontecnology.png' %}" alt="" />
              </div>
              <h3>Technology</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </a>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="footer-container">
        <div class="socialmedia">
          <div class="text"><h2>FOLLOW US</h2></div>
          <div class="sm-img">
            <a href="">
              <img src="{% static 'img/telegram.png' %}" alt="Telegram" />
            </a>
            <a href="">
              <img src="{% static 'img/instagram.png' %}" alt="Instagram" />
            </a>
            <a href="">
              <img src="{% static 'img/facebook.png' %}" alt="Facebook" />
            </a>
            <a href="">
              <img src="{% static 'img/youtube.png' %}" alt="Youtube" />
            </a>
          </div>
        </div>
        <div class="coopyright">Created by <a href="">OUR TEAM</a> | 2023</div>
      </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
